@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&family=Montserrat&display=swap');

:root {
  --primary: #fffffc;
  --secondary: #0e131f;
  --accent-1: #985f99;
  --accent-2: #00a676;
  --accent-3: #aa4465;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--primary);
  color: var(--secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lexend Zetta', sans-serif;
}

p,
span,
li,
a {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

a:hover > .subtitle {
  background-color: var(--accent-2);
  color: var(--primary);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  font-weight: 700;
}

a:visited {
  color: var(--secondary);
}

.header {
  padding: 20px;
  background: var(--accent-3);
  letter-spacing: 1em;
  text-align: center;
  color: var(--primary);
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.list .img-wrapper {
  width: 200px;
  height: 200px;
  border: solid 5px var(--accent-3);
  margin: 1em 0;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
}

.list li {
  display: flex;
  width: 100%;
}

.list .subtitle {
  font-size: 1.5rem;
  border-bottom: 5px solid var(--accent-1);
}

.text-wrapper {
  margin: 1em;
}

@media screen and (min-width: 768px) {
  .list li {
    width: 350px;
    flex-direction: column;
  }

  .list .subtitle {
    font-size: 2rem;
    width: 50%;
  }

  .list .img-wrapper {
    height: 20%;
    width: 80%;
  }

  .list p {
    font-size: 1.2rem;
  }
}
