@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
:root {
  --custom-pink: hsl(322, 100%, 66%);
  --custom-black: hsl(192, 100%, 9%);
  --custom-blue: hsl(207, 100%, 98%); }

body,
html {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  background: whitesmoke; }

.wrapper {
  width: calc(100% - 29rem);
  margin: 0 auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif; }

p {
  margin: 0; }

button {
  font-family: 'Open Sans', sans-serif; }
  button:hover {
    cursor: pointer; }

.wave-top {
  margin-bottom: -10px;
  width: 100%; }

.inner-content {
  display: flex;
  justify-content: space-evenly;
  padding: 4em; }
  .inner-content .text h2 {
    font-size: 1.8em; }
  .inner-content .text,
  .inner-content .image {
    width: 46%; }

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header h1 {
    font-size: 2.2em; }

.try-btn {
  background: transparent;
  color: var(--custom-pink);
  border: var(--custom-pink) solid 1px;
  margin: 38px;
  font-size: 0.9em;
  padding: 6px;
  width: 100px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px; }

/* Main */
.section-one {
  text-align: center;
  margin-top: 6rem; }
  .section-one h2 {
    text-transform: capitalize;
    margin: 0;
    font-size: 2rem; }
  .section-one .mock-up {
    margin-top: 3rem;
    width: 75%; }

.hero {
  text-align: center;
  margin: 0 auto 30px auto; }
  .hero p {
    font-size: 1rem;
    width: 50%;
    margin: 0 auto; }

.colour-btn {
  background: var(--custom-pink);
  color: whitesmoke;
  border: transparent solid 1px;
  margin-top: 3em;
  font-size: 0.9em;
  padding: 15px;
  width: 30%;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px; }

.section-two .left,
.section-two .right {
  flex-direction: column; }

.section-two h2 {
  font-size: 4em;
  margin: 0; }

.section-two p {
  font-size: 1em;
  text-align: center; }

.icon {
  margin-right: 40%;
  text-align: left; }

.section-three img {
  width: 100%; }

.section-three .inner-content {
  background: var(--custom-blue);
  align-items: center; }

.section-three p {
  font-size: 0.7em; }

.section-four p {
  font-size: 0.7em; }

.section-five p {
  font-size: 0.7em; }

.section-six {
  margin-bottom: 15em;
  text-align: center; }
  .section-six h2 {
    font-size: 1.7em;
    margin: 0; }

footer .inner-content {
  color: white;
  background: var(--custom-black);
  justify-content: space-between;
  align-items: center; }
  footer .inner-content .left p,
  footer .inner-content .right p {
    font-size: 0.7em; }
  footer .inner-content .left {
    margin-top: 4em;
    width: 30%; }
    footer .inner-content .left h2 {
      font-size: 2em;
      margin: 0; }
    footer .inner-content .left .footer-bubble {
      width: 15%;
      filter: invert(60%);
      -webkit-filter: invert(60%); }
    footer .inner-content .left .socials {
      margin-top: 2em;
      display: flex;
      justify-content: space-between; }
      footer .inner-content .left .socials a {
        text-decoration: none; }
      footer .inner-content .left .socials i {
        color: whitesmoke;
        font-size: 2em; }
      footer .inner-content .left .socials i:hover {
        cursor: pointer; }
  footer .inner-content .right {
    width: 55%; }
    footer .inner-content .right .header {
      font-size: 1em;
      font-weight: 600; }
    footer .inner-content .right .form {
      display: flex;
      flex-wrap: wrap; }
    footer .inner-content .right .form input {
      margin-top: 2em;
      padding: 7px;
      width: 14em;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px; }
    footer .inner-content .right .subscribe {
      position: relative;
      top: 20px;
      padding: 5px;
      min-width: 100px;
      max-height: 40px;
      border-radius: 2px;
      background: var(--custom-pink);
      color: white;
      border: solid 1px var(--custom-pink);
      margin-left: 2em;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px; }

@media screen and (max-width: 768px) {
  .wrapper,
  .inner-content {
    width: 100%;
    margin: 0 auto;
    text-align: center; }
  .button {
    padding: 4px 32px;
    height: 2rem;
    width: auto;
    font-size: 10px; }
  .icon {
    width: 10%; }
  .inner-content {
    padding: 0;
    flex-direction: column; }
    .inner-content .right {
      margin-top: 1em; }
    .inner-content .left,
    .inner-content .right,
    .inner-content .text,
    .inner-content .image {
      width: 100%; }
    .inner-content p {
      font-size: 1em; }
  .inner-content .text {
    order: 2; }
  header {
    padding: 1em; }
    header img {
      width: 1em; }
    header h1 {
      font-size: 1em; }
  .try-btn {
    font-size: 0.7em; }
  footer .inner-content .left,
  footer .inner-content .right {
    margin: 10px; }
  footer .inner-content .left {
    text-align: left;
    order: 2; }
  footer .inner-content .right {
    text-align: right; }
  footer .inner-content .subscribe {
    margin: 5px; } }
