@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root{
--subheading-text:hsl(276, 100%, 81%);
--msg-bg:hsl(276, 100%, 91%);
--msg-user-one:hsl(276, 55%, 52%);
--msg-user-two:hsl(271, 15%, 43%);
--placeholder:hsl(206, 6%, 79%);
--main-heading:hsl(271, 36%, 24%);
--paragraph:hsl(270, 7%, 64%);
--lightgradient: hsl(293, 100%, 63%);
--darkgradient:hsl(264, 100%, 61%);
--white:hsl(0, 0%, 100%);
--appbg:hsl(270, 20%, 96%);
--btn:hsl(271, 36%, 24%);
--radiobtn:hsl(289, 100%, 72%);
}

@mixin gradient{
        background-image:linear-gradient(var(--lightgradient), var(--darkgradient))
}

@mixin gradient-left{
        background-image:linear-gradient(to left, var(--lightgradient), var(--darkgradient))
}

@mixin gradient-right{
        background-image:linear-gradient(to right, var(--lightgradient), var(--darkgradient))
}


*{
        box-sizing:border-box;
}

html, body{
        padding:0;
        margin:0;
        background:var(--white);
        font-family:'Rubik', sans-serif;
}

.shape{
        @include gradient;
        width:500px;
        height:90vh;
        border-bottom-left-radius: 300px;
        border-bottom-right-radius: 200px;
        position:absolute;
        left:-80px;
        top:-150px;
}

.wrapper{
        width:90%;
        position:absolute;
        top:30%;
        left:20%;
        display:flex;
        min-width:500px;
        max-width:1000px;
        justify-content: center;
}

.phone{
        position: relative;
        height:520px;
        min-width:270px;
        max-width:270px;
        border-radius:30px;
        top:-100px;
        left:-100px;
        -webkit-border-radius:30px;
        -moz-border-radius:30px;
        -ms-border-radius:30px;
        -o-border-radius:30px;
        border:var(--white) 10px solid;
        background:var(--appbg);
        &:before{
                content:'';
                position:absolute;
                background:var(--white);
                width:120px;
                left:25%;
                top:-8px;
                border-bottom-left-radius:10px;
                border-bottom-right-radius:10px;
                height:20px;
}
        .screenhead{
            @include gradient-left;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;    
            height:15%;
            &::before{
                content:'<';
                color:var(--white);
                position: absolute;;
                top:25px;
                left:5px;
        }
            .userimg{
                position:absolute;
                top:20px;
                left:20px;
                width:30px;
                height:30px;
                border:2px solid var(--white);
                border-radius:50%;            
                -webkit-border-radius:50%;            
                -moz-border-radius:50%;            
                -ms-border-radius:50%;            
                -o-border-radius:50%; 
        }
        .info{
                position:absolute;
                top:20px;
                left:60px;
                display:flex;
                flex-direction:column;
                .username{
                        font-size:14px;
                        font-weight:700;
                        color:var(--white);
                }
                .status{
                        font-size:10px;
                        color:var(--subheading-text);
                }
        }
        .menu{
                position: absolute;
                right:10px;
                top:20px;
                .dot{
                        width:3px;
                        height:3px;
                        margin:2px 0;
                        background:var(--subheading-text);
                        border-radius:50%;
                        -webkit-border-radius:50%;
                        -moz-border-radius:50%;
                        -ms-border-radius:50%;
                        -o-border-radius:50%;
}
        }
        }


        .message-exchange{
            background:var(--appbg);
            height:85%;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;    
            .msg-user-one, .msg-user-two, .prices{
                width:70%;
                border-radius:5px;
                -webkit-border-radius:5px;
                -moz-border-radius:5px;
                -ms-border-radius:5px;
                -o-border-radius:5px;
                font-size:8px;
}
            .msg-user-one{
                margin:5px;
                color:var(--msg-user-one);
                p{
                        background:var(--msg-bg); 
                        padding:8px;
                        border-radius:5px;
                }
            }
            .msg-user-two{
                    display:flex;
                    justify-content:flex-end;
                    margin:5px -5px;
                    position:relative;
                    left:30%;
                    color:var(--msg-user-two);
                    p{
                        background:var(--white);
                        padding:8px;
                        border-radius:5px;
                    }
            }
            .photo-msg{
                    display:flex;
                    justify-content:flex-end;
                    background:var(--appbg);
                    img{
                            width:40px;
                            height:40px;
                            border-radius:5px;
                            -webkit-border-radius:5px;
                            -moz-border-radius:5px;
                            -ms-border-radius:5px;
                            -o-border-radius:5px;
                            margin:0 2px;
                }
            }
            .prices{
                    @include gradient-right;
                    margin:5px;
                    width:80%;
                    .price-info{
                        display:flex;
                        flex-wrap:nowrap;
                        justify-content: space-between;
                        .circle{
                                background:transparent;
                                width:20px;
                                height:20px;
                                margin:5px;
                                border:2px solid var(--radiobtn);
                                border-radius:50%;
                                -webkit-border-radius:50%;
                                -moz-border-radius:50%;
                                -ms-border-radius:50%;
                                -o-border-radius:50%;
}
                        .cost{
                                padding-right:5px;
                                color:var(--white);
                                font-size:14px;
                        }
                        .length{
                                font-size:12px;
                                color:var(--subheading-text)
                        }
                    }
            }
            .submit{
                    background:var(--white);
                    height:40px;
                    width:95%;
                    margin:15px 3px;
                    padding:10px;
                    font-size:10px;
                    border-radius:20px;
                    -webkit-border-radius:20px;
                    -moz-border-radius:20px;
                    -ms-border-radius:20px;
                    -o-border-radius:20px;
                    .placeholder{
                            color:var(--placeholder);
                            position:relative;
                            top:-15px;
                            left:5px;
                            &:after{
                                content:'>';
                                position:relative;
                                left:50%;
                                top:2px;
                                color:var(--white);
                                background-color:var(--btn);
                                padding:6px;
                                font-size:20px;
                                border-radius:50%;
                                -webkit-border-radius:50%;
                                -moz-border-radius:50%;
                                -ms-border-radius:50%;
                                -o-border-radius:50%;
}
                    }
}
        } /*  End of message exchange */
} /*  End of phone */

.text{
     padding:10px;
     min-width:300px;
     max-width:500px;
     h2{
             font-size:40px;
             color:var(--main-heading);
             letter-spacing: 1px;
     } 
     p{
             font-size:16px;
             color:var(--paragraph);
             line-height: 40px;
     }
}

@media screen and (min-width:320px) and (max-width:767px){
        .shape{
                width: 400px;
                height: 78vh;
        }
        .phone{
                left:50px;
                top:20px;
                margin-left:-20px;
        }
        .wrapper{
                flex-direction:column;
                position:initial;
                min-width:100vw;
        }
        .text{
                width:100vw;
                display:flex;
                flex-direction:column;
        }
}