:root {
  --custom-pink: hsl(322, 100%, 66%);
  --custom-black: hsl(192, 100%, 9%);
  --custom-blue: hsl(207, 100%, 98%);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

body,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: whitesmoke;
}

.wrapper {
  width: calc(100% - 19rem);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
}

button {
  font-family: 'Open Sans', sans-serif;
  &:hover {
    cursor: pointer;
  }
}

.section {
  margin-top: 3.5rem;
}

.wave-top {
  margin-bottom: -10px;
  width: 100%;
}

.inner-content {
  display: flex;
  justify-content: space-evenly;
  padding: 4em;
  .text {
    h2 {
      font-size: 1.8em;
    }
  }
  .text,
  .image {
    width: 46%;
  }
}

/* Header */
header {
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 2.2em;
  }

  .try-btn {
    background: transparent;
    color: var(--custom-pink);
    border: var(--custom-pink) solid 1px;
    margin: 38px;
    font-size: 0.9em;
    padding: 6px;
    width: 100px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }
}

/* Main */
.section-one {
  text-align: center;
  margin-top: 6rem;
  h2 {
    text-transform: capitalize;
    margin: 0;
    font-size: 2rem;
  }
  .mock-up {
    margin-top: 3rem;
    width: 75%;
  }
}

.hero {
  text-align: center;
  margin: 0 auto 30px auto;

  p {
    font-size: 1rem;
    width: 50%;
    margin: 0 auto;
  }
}

.colour-btn {
  background: var(--custom-pink);
  color: whitesmoke;
  border: transparent solid 1px;
  margin-top: 3em;
  font-size: 0.9em;
  padding: 15px;
  width: 30%;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.section-two {
  .left,
  .right {
    flex-direction: column;
  }
  h2 {
    font-size: 4em;
    margin: 0;
  }
  p {
    font-size: 1em;
    text-align: center;
  }
}

.icon {
  margin-right: 40%;
  text-align: left;
}

.section-three {
  img {
    width: 100%;
  }
  .inner-content {
    background: var(--custom-blue);
    align-items: center;
  }
  p {
    font-size: 0.7em;
  }
}

.section-four {
  p {
    font-size: 0.7em;
  }
}

.section-five {
  p {
    font-size: 0.7em;
  }
}

.section-six {
  h2 {
    font-size: 1.7em;
    margin: 0;
  }
  text-align: center;
}

footer {
  .inner-content {
    color: white;
    background: var(--custom-black);
    justify-content: space-between;
    align-items: center;
    .left,
    .right {
      p {
        font-size: 0.7em;
      }
    }
    .left {
      margin-top: 4em;
      width: 30%;
      h2 {
        font-size: 2em;
        margin: 0;
      }
      .footer-bubble {
        width: 15%;
        filter: invert(60%);
        -webkit-filter: invert(60%);
      }
      .socials {
        margin-top: 2em;
        display: flex;
        justify-content: space-between;
        a {
          text-decoration: none;
        }
        i {
          color: whitesmoke;
          font-size: 2em;
        }
        i:hover {
          cursor: pointer;
        }
      }
    }
    .right {
      width: 55%;
      .header {
        font-size: 1em;
        font-weight: 600;
      }
      .form {
        display: flex;
        flex-wrap: wrap;
      }
      .form input {
        margin-top: 2em;
        padding: 7px;
        width: 14em;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
      .subscribe {
        position: relative;
        top: 20px;
        padding: 5px;
        min-width: 100px;
        max-height: 40px;
        border-radius: 2px;
        background: var(--custom-pink);
        color: white;
        border: solid 1px var(--custom-pink);
        margin-left: 2em;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper,
  .inner-content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .button {
    padding: 5px;
    height: 2rem;
    width: auto;
    font-size: 10px;
  }

  .icon {
    width: 10%;
  }

  .inner-content {
    padding: 0;
    flex-direction: column;
    .left,
    .right,
    .text,
    .image {
      width: 100%;
    }
    p {
      font-size: 1em;
    }
  }

  .inner-content .text {
    order: 2;
  }

  footer .inner-content {
    .left,
    .right {
      margin: 10px;
    }
    .left {
      text-align: left;
      order: 2;
    }
    .right {
      text-align: right;
    }
    .subscribe {
      margin: 5px;
    }
    .form {
      position: relative;
      right: -5em;
    }
  }
}
