@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
:root {
  --subheading-text: hsl(276, 100%, 81%);
  --msg-bg: hsl(276, 100%, 91%);
  --msg-user-one: hsl(276, 55%, 52%);
  --msg-user-two: hsl(271, 15%, 43%);
  --placeholder: hsl(206, 6%, 79%);
  --main-heading: hsl(271, 36%, 24%);
  --paragraph: hsl(270, 7%, 64%);
  --lightgradient: hsl(293, 100%, 63%);
  --darkgradient: hsl(264, 100%, 61%);
  --white: hsl(0, 0%, 100%);
  --appbg: hsl(270, 20%, 96%);
  --btn: hsl(271, 36%, 24%);
  --radiobtn: hsl(289, 100%, 72%);
  --second-shape: hsl(264, 33%, 97%); }

* {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: var(--white);
  font-family: 'Rubik', sans-serif; }

.main-wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 5rem 0; }

.shape {
  background-image: linear-gradient(var(--lightgradient), var(--darkgradient));
  width: 23rem;
  height: 40rem;
  position: absolute;
  border-bottom-left-radius: 238px;
  border-bottom-right-radius: 240px;
  top: 0;
  left: -8em; }

.shape-two {
  width: 23rem;
  height: 40rem;
  position: absolute;
  background: var(--second-shape);
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  bottom: -5em;
  right: -11em; }

.wrapper {
  display: flex;
  justify-content: space-between;
  /* max-width: 42rem; */
  width: calc(100% - 15rem);
  margin: 0 auto;
  /* align-items: center; */
  min-height: 70vh;
  flex-direction: row; }

.phone {
  z-index: 1;
  position: relative;
  height: 35em;
  width: 17em;
  top: -4em;
  flex-shrink: 0;
  margin-left: 10rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: var(--white) 10px solid;
  background: var(--appbg);
  overflow: hidden;
  /*  End of message exchange */ }
  .phone:before {
    content: '';
    position: absolute;
    background: var(--white);
    width: 120px;
    left: 25%;
    top: -8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 20px; }
  .phone .screenhead {
    background-image: linear-gradient(to left, var(--lightgradient), var(--darkgradient));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 15%; }
    .phone .screenhead::before {
      content: '<';
      color: var(--white);
      position: absolute;
      top: 25px;
      left: 5px; }
    .phone .screenhead .userimg {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 30px;
      height: 30px;
      border: 2px solid var(--white);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%; }
    .phone .screenhead .info {
      position: absolute;
      top: 20px;
      left: 60px;
      display: flex;
      flex-direction: column; }
      .phone .screenhead .info .username {
        font-size: 14px;
        font-weight: 700;
        color: var(--white); }
      .phone .screenhead .info .status {
        font-size: 10px;
        color: var(--subheading-text); }
    .phone .screenhead .menu {
      position: absolute;
      right: 10px;
      top: 20px; }
      .phone .screenhead .menu .dot {
        width: 3px;
        height: 3px;
        margin: 2px 0;
        background: var(--subheading-text);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%; }
  .phone .message-exchange {
    background: var(--appbg);
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column; }
    .phone .message-exchange .msg-user-one,
    .phone .message-exchange .msg-user-two,
    .phone .message-exchange .prices {
      width: 70%;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      font-size: 8px; }
    .phone .message-exchange .msg-user-one {
      margin: 5px;
      color: var(--msg-user-one); }
      .phone .message-exchange .msg-user-one p {
        background: var(--msg-bg);
        padding: 8px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px; }
    .phone .message-exchange .msg-user-two {
      align-self: flex-end;
      color: var(--msg-user-two); }
      .phone .message-exchange .msg-user-two p {
        background: var(--white);
        padding: 8px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px; }
    .phone .message-exchange .photo-msg {
      display: flex;
      justify-content: flex-end;
      background: var(--appbg); }
      .phone .message-exchange .photo-msg img {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        margin: 0 2px; }
    .phone .message-exchange .prices {
      background-image: linear-gradient(to right, var(--lightgradient), var(--darkgradient));
      margin: 5px;
      width: 80%; }
      .phone .message-exchange .prices .price-info {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between; }
        .phone .message-exchange .prices .price-info .circle {
          background: transparent;
          width: 20px;
          height: 20px;
          margin: 5px;
          border: 2px solid var(--radiobtn);
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%; }
        .phone .message-exchange .prices .price-info .cost {
          padding-right: 5px;
          color: var(--white);
          font-size: 14px; }
        .phone .message-exchange .prices .price-info .length {
          font-size: 12px;
          color: var(--subheading-text); }
    .phone .message-exchange .submit {
      background: var(--white);
      height: 40px;
      width: 95%;
      margin: 15px 3px;
      padding: 10px;
      font-size: 10px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px; }
      .phone .message-exchange .submit .placeholder {
        color: var(--placeholder);
        position: relative;
        top: -15px;
        left: 5px; }
        .phone .message-exchange .submit .placeholder:after {
          content: '>';
          position: absolute;
          width: 1.5em;
          height: 1.5em;
          text-align: center;
          right: 0em;
          color: var(--white);
          background-color: var(--btn);
          font-size: 20px;
          border-radius: 50%;
          -webkit-border-radius: 50%; }

/*  End of phone */
.text {
  padding: 10px;
  min-width: 300px;
  max-width: 500px;
  z-index: 2; }
  .text h2 {
    font-size: 40px;
    color: var(--main-heading);
    letter-spacing: 1px; }
  .text p {
    font-size: 16px;
    color: var(--paragraph);
    line-height: 40px; }

@media screen and (min-width: 1000px) {
  .shape {
    left: -4em; }
  .wrapper {
    margin: 7rem auto; } }

@media screen and (min-width: 680px) and (max-width: 980px) {
  .wrapper {
    flex-direction: column; }
    .wrapper .text {
      text-align: center; }
  .shape-two {
    bottom: -20em;
    right: -2em; } }

@media screen and (min-width: 320px) and (max-width: 678px) {
  .shape {
    top: 0;
    left: -8em; }
  .shape-two {
    bottom: -7em;
    right: -10rem; }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
  .phone {
    margin-left: 0; } }
