:root {
  --DarkBlue: hsl(240, 38%, 20%);
  --GrayishBlue: hsl(240, 18%, 77%);
}

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  min-height: 100%;
  overflow-x: hidden;
}

main {
  height: calc(100vh - 40px);
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.testimonial {
  margin-top: 40px;
  padding: 20px;
  height: 350px;
}

.bg {
  position: relative;
  top: -320px;
  z-index: -1;
  width: 370px;
}

.testimonial .student {
  width: 280px;
  height: 280px;
  border: 10px transparent solid;
}

.testimonial .student:hover {
  border: 10px solid pink;
  border-image: repeating-linear-gradient(
      45deg,
      purple,
      #7f63d4 3%,
      pink,
      pink 4%
    )
    10;
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
}

nav {
  position: relative;
  top: -400px;
}

button {
  z-index: 2;
  padding: 15px;
  background-color: white;
}

.prev:hover,
.next:hover {
  cursor: pointer;
  background-color: lavender;
}

.prev {
  margin-right: -10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.prev:before {
  content: url('./src/img/icon-prev.svg');
}

.next {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.next:after {
  content: url('./src/img/icon-next.svg');
}

.text {
  position: relative;
  font-size: 25px;
  padding: 25px;
  color: var(--DarkBlue);
  animation: move-in 3s;
  -webkit-animation: move-in 3s;
}

.quotes {
  position: absolute;
  z-index: -1;
  margin-left: 100px;
  margin-top: -30px;
  width: 80px;
}

.name {
  font-weight: 700;
  font-size: 20px;
  animation: move-in 3s;
  -webkit-animation: move-in 3s;
}

.job {
  color: var(--GrayishBlue);
  margin-top: -20px;
  animation: move-in 3s;
  -webkit-animation: move-in 3s;
}

@keyframes move-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.curve {
  width: 100%;
}

footer {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

footer a {
  margin: 0 5px;
}

@media (min-width: 678px) {
  .container {
    flex-direction: row;
    padding: 20px;
    align-items: center;
  }
  .bg {
    top: -420px;
    width: 470px;
  }
  .testimonial {
    order: 2;
  }
  .quotation {
    order: 1;
    text-align: left;
  }
  .testimonial .student {
    width: 380px;
    height: 380px;
  }
  .text,
  .job,
  .name {
    padding: 0;
    position: relative;
    top: 100px;
  }
  nav {
    left: -100px;
    top: -480px;
  }
  footer {
    flex-direction: row;
  }
  footer .attribution {
    order: 1;
  }
  .curve {
    width: 50%;
  }
}
