:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Manrope', sans-serif;
  background: var(--LightGrayishBlue);
}

.wrapper {
  width: 20rem;
  height: 32rem;
  margin: 20% auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 5px 3px 5px var(--GrayishBlue);
}

.inner {
  margin-top: -3em;
  padding: 0 1em;
}

.larger-wrapper {
  background-color: ghostwhite;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.wrapper .img-wrapper img {
  width: 100%;
  height: 75%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.text-wrapper {
  color: var(--VeryDarkGrayishBlue);
}

.text-wrapper .lead {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 1em;
}

.text-wrapper .desc {
  font-weight: 500;
  font-size: 0.8em;
  line-height: 2em;
}

.share {
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  padding: 1em 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.toggle {
  display: flex;
  justify-content: space-around;
  color: var(--DesaturatedDarkBlue);
}

.share-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share-buttons p {
  text-transform: uppercase;
}

.share-buttons img {
  width: 30px;
  height: 30px;
  margin: 0.5em;
}

.colour-change {
  background: var(--VeryDarkGrayishBlue);
  color: var(--LightGrayishBlue);
  letter-spacing: 5px;
}

.share .share-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

.share .share-wrapper span:first-child {
  font-weight: 700;
}

.share .share-wrapper span:nth-child(2) {
  color: var(--DesaturatedDarkBlue);
}

.share .user-img {
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 5px;
}

.colour-change .share-btn {
  margin-top: 1em;
  background: var(--DesaturatedDarkBlue);
}

.colour-change .share-btn img {
  filter: brightness(2.5);
  -webkit-filter: brightness(2.5);
}

.share .share-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.share-btn:hover {
  cursor: pointer;
  animation: spin 0.5s;
  -webkit-animation: spin 0.5s;
}

.attribution {
  display: flex;
  padding: 0.5em;
  justify-content: space-evenly;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    flex-direction: row;
    width: 70%;
    height: 22rem;
  }

  .wrapper .img-wrapper img {
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
  }

  .wrapper .inner {
    margin-top: 0;
    padding: 0 3em;
    height: 60%;
  }

  .wrapper .inner .lead {
    font-size: 1.2em;
  }

  .share {
    min-height: 20%;
    bottom: -16px;
    position: relative;
    border-bottom-left-radius: 0;
  }

  .toggle {
    margin-left: -3em;
  }
}
